<packages>
  <package id="powertoys" />
  <package id="microsoft-windows-terminal" />
  <package id="grep" />

  <package id="openvpn-connect" />
  <package id="docker-desktop" />

  <package id="GoogleChrome" />

  <package id="obsidian" />

  <package id="nerd-fonts-Meslo" />
  <package id="d2codingfont" />

  <package id="vscode" />
</packages>

